
<head>
	<title>Harrison Kinsley</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/personal/css/bootstrap.min.css" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0"/>
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="/static/personal/img/profile.jpg" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Sales Price Prediction Using Machine Learning</h3>
				  </center>
			  </div>
		</div><hr/>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  </br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Sales Prediction</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br/><br/>
			   
    <form action='/string/' method='post'>  
   

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Row ID" value="Row ID"> Row ID </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Order ID" value="Order ID"> Order ID </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Order Date" value="Order Date"> Order Date </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Ship Date" value="Ship Date"> Ship Date </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Ship Mode" value="Ship Mode"> Ship Mode </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Customer ID" value="Customer ID"> Customer ID </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Customer Name" value="Customer Name"> Customer Name </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Segment" value="Segment"> Segment </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="City" value="City"> City </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="State" value="State"> State </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Country" value="Country"> Country </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Postal Code" value="Postal Code"> Postal Code </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Market" value="Market"> Market </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Region" value="Region"> Region </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="cat-id" value="cat-id"> cat-id </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="sub-id" value="sub-id"> sub-id </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Product ID" value="Product ID"> Product ID </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Category" value="Category"> Category </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Sub-Category" value="Sub-Category"> Sub-Category </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Product Name" value="Product Name"> Product Name </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Sales" value="Sales"> Sales </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Quantity" value="Quantity"> Quantity </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Discount" value="Discount"> Discount </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Profit" value="Profit"> Profit </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Shipping Cost" value="Shipping Cost"> Shipping Cost </input>
   <hr/>
     

   <input onsubmit="alert('value:'+this.value);" type="checkbox" name="Order Priority" value="Order Priority"> Order Priority </input>
   <hr/>
     

 <input type='submit' value="submit" />
 </form> 
		

 	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>